main {
  display: grid;
  grid-gap: 1.4rem;
}

.activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

.activity--0 {
  background-color: var(--light-red);
}
.activity--1 {
  background-color: var(--soft-blue);
}
.activity--2 {
  background-color: var(--red);
}
.activity--3 {
  background-color: var(--lime-green);
}
.activity--4 {
  background-color: var(--violet);
}

.activity--5 {
  background-color: var(--soft-orange);
}

.activity__icon {
  height: 3rem;
  display: flex;
  justify-content: end;
  padding-right: 1rem;
  overflow: hidden;
}

.activity__icon > img {
  height: 160%;
  position: relative;
  bottom: 0.5rem;
}

.activity__details {
  background-color: var(--dark-blue);
  border-radius: var(--border-radius);
  padding: 1rem;
  cursor: pointer;
}

.activity__details:hover {
  background-color: var(--dark-blue-hover);
}

.activity__details__top {
  display: flex;
  justify-content: space-between;
}

.activity__details__top__menu {
  background: none;
  cursor: pointer;
}

.activity__details__top__title {
  font-weight: 600;
}

.activity__details__time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.activity__details__time__current {
  font-size: 1.6rem;
}

.activity__details__time__previous {
  color: var(--text-no-focus);
}
